<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles.css"> 
        <title></title>
    </head>
<body>
  <h1>Welcome to My Express App</h1>
  <nav>
    <a href="/form">Go to Form</a>
  </nav>
  <!-- <img src="/public/image.png" alt="Sample Image">
  <a href="/download-image">Download Image</a> -->

  <form action="/download-image" method="get">
    <button type="submit">Download Image</button>
  </form>
  

</body>
</html>
